<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}" style="user-select: none">Elhmel</a>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/beerlist}">Beer list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/addbeer}">Add beer</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}" sec:authorize="!isAuthenticated()">Registration</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>